<div style="width: 650px; margin: auto;">
    <br>
    <table
        style='width: 500px; border-spacing: 0; font-family:system-ui, -apple-system, BlinkMacSystemFont,  Segoe UI , Roboto, Oxygen, Ubuntu, Cantarell, Open Sans , Helvetica Neue , sans-serif; margin: auto; margin-top: 60px;'>
        <thead>
            <tr>
                <th colspan='2'
                    style='text-align: center; font-size: 24px; padding-top: 20px; padding-bottom: 20px; background-color: Black; color: white; border-radius: 5px 5px 0px 0px;'>
                    Spot It App
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style='height: 40px;'>
                <td colsapn='2'><!-- EMPTY SPACE --></td>
            </tr>
            <tr>
                <td
                    colsapn='2'
                    style='font-size: 16px;'>
                    Hello {{username}},</td>
            </tr>
            <tr style='height: 20px;'>
                <td colsapn='2'><!-- EMPTY SPACE --></td>
            </tr>

            <tr>
                <td
                    colspan='2'
                    style='font-size: 16px;'>
                    Your Temporary login passsword is <strong>{{password}}</strong></td>
            </tr>
            <tr style='height: 20px;'>
                <td colsapn='2'><!-- EMPTY SPACE --></td>
            </tr>
            
            <tr>
                <td colspan='2' style='font-size: 16px;'>
                    Please use this password to log in to your account. We recommend changing your password immediately after logging in to
                    ensure the security of your account.
                </td>
            </tr>

            <tr style='height: 20px;'>
                <td colsapn='2'><!-- EMPTY SPACE --></td>
            </tr>
            
            <tr>
                <td colspan='2' style='font-size: 16px;'>
                    If you encounter any issues or have any questions, feel free to reach out to me at <a href="mail-to:banksjazz87@gmail.com" style="text-decoration: none; border-bottom: 1px solid #003153; color: #003153;">banksjazz87@gmail.com</a>
                </td>
            </tr>
            <tr style='height: 20px;'>
                <td colsapn='2'><!-- EMPTY SPACE --></td>
            </tr>
            
            <tr>
                <td colspan='2' style='font-size: 16px;'>
                    Best Regards, <br><br>
                    Chris Banks <br>
                    <a href="mail-to:banksjazz87@gmail.com" style="text-decoration: none; border-bottom: 1px solid #003153; color: #003153;">banksjazz87@gmail.com</a>
                </td>
            </tr>
            <tr style='height: 40px;'>
                <td colsapn='2'><!-- EMPTY SPACE --></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan='2'
                    style='text-align: center; height: 60px; background-color: black; color: white; border-radius: 0px 0px 5px 5px; padding: 0; border-spacing: 0; font-size: 14px;'>
                    This form was submitted on {{date}}</td>
            </tr>
        </tfoot>
    </table>
</div>